body{
    margin: 0;
    padding: 0;
    height: 200vh;
}

.big{
    width: 50%;
    height: 50%;
}

.small{
    width: 25%;
    height: 25%;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}
.fixed{
    position: fixed;
}
.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.pink{
    background-color: deeppink;
}

.white{
    background-color: white;
}


.left{
    left: 0;
}

.right{
    right: 0;
}
.bottom{
    bottom: 0;
}
.center{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.top{
    top: 0;
}

.inside{
    width: 10%;
    height: 10%;
}